{% extends "default.html" %}

{% block body %}
<ol class="c-vidlist">
  {% for post in pagination.files %}
    <li class="c-vidlist__item">
      <a href="#" class="c-vid">
        <div class="c-vid__main">
          <div class="c-vid__meta">
            <div class="c-vid__year">{{post.date}}</div>
            <div class="c-vid__fandom">Fandom: {{post.fandoms}}</div>
          </div>
          <div class="c-vid__title">{{post.title}} <span class="c-vid__creators">by {{post.creators}}</span></div>
          <div class="c-vid__description">{{post.description}}</div>
        </div>
        {% if post.mp4 %}
        <img class="c-vid__barcode" src="http://lum.advids.org/images/{{post.vidkey}}.png">
        {% endif %}
      </a>

    </li>
  {% endfor %}
  </ol>

{% endblock %}
